[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AxP (AWeinb)
[access "refs/for/refs/*"]
	read = group user/AxP (AWeinb)
	push = group user/AxP (AWeinb)
	label-Code-Review = -2..+2 group user/AxP (AWeinb)
	label-Verified = -1..+1 group user/AxP (AWeinb)
	rebase = group user/AxP (AWeinb)
	removeReviewer = group user/AxP (AWeinb)
	submit = group user/AxP (AWeinb)
[access "refs/heads/*"]
	read = group user/AxP (AWeinb)
	create = group user/AxP (AWeinb)
	push = +force group user/AxP (AWeinb)
	pushMerge = group user/AxP (AWeinb)
[access "refs/tags/*"]
	push = group user/AxP (AWeinb)
	push = +force group user/AxP (AWeinb)
