/*        .
*        '#'         .  .
*      ___:____     | \/ |
*    ,´        `.    \  /
*    |  0        \___/  |
*  ~^~^~^~^~^~^~^~^~^~^~^~^~
*/

.portfolio {
	display: flex;
	height: 100%;
	width: 100%;
}