/*        .
*        '#'         .  .
*      ___:____     | \/ |
*    ,´        `.    \  /
*    |  0        \___/  |
*  ~^~^~^~^~^~^~^~^~^~^~^~^~
*/

.portfolio {
	display: flex;
	height: 100%;
	width: 100%;
}

.portfolio .navigation {
	display: flex;
	flex-direction: column;
	height: 100%;
    background: #f5f5f5;
    margin-right: 1vw;
    border-right: 1px solid #ccc;
}

.portfolio .navigation .button {
	height: 100px;
	width: 100px;
    margin: 24px;
    cursor: pointer;
}

.portfolio .navigation .button[disabled] img {
	filter: opacity(0.2);
}

.portfolio .pf-content {
	height: 100%;
    width: 100%;
}