/*        .
*        '#'         .  .
*      ___:____     | \/ |
*    ,´        `.    \  /
*    |  0        \___/  |
*  ~^~^~^~^~^~^~^~^~^~^~^~^~
*/

.content-base {
	height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
}