/*        .
*        '#'         .  .
*      ___:____     | \/ |
*    ,´        `.    \  /
*    |  0        \___/  |
*  ~^~^~^~^~^~^~^~^~^~^~^~^~
*/

.list-navigation {
	display: flex;
	flex-direction: column;
	height: 100%;
    background: #f5f5f5;
    margin-right: 1vw;
    border-right: 1px solid #ccc;
}

.list-navigation .default-links {
    display: inline-flex;
    flex-direction: row;
    margin: 8px;
}

.list-navigation .default-links .button {
	height: 30px;
	width: 30px;
	margin: 8px;
}

.list-navigation .part-links {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	margin: 0 16px;
    padding: 8px 0;
    border: 0 solid #ccc;
    border-top-width: 1px;
}