/*        .
*        '#'         .  .
*      ___:____     | \/ |
*    ,´        `.    \  /
*    |  0        \___/  |
*  ~^~^~^~^~^~^~^~^~^~^~^~^~
*/

.portfolio-generic-preview {
	cursor: pointer;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 100%;
}

.portfolio-generic-preview .icon {
	cursor: pointer;
    max-height: 50%;
    margin: 8px;
    flex-grow: 1;
}

.portfolio-generic-preview .caption {
	cursor: pointer;
	width: 80%;
	text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	color: #333;
}

.portfolio-generic-preview .description {
	cursor: pointer;
	width: 100%;
	max-height: 30%;
    margin: 8px;
	text-align: center;
    overflow: hidden;
	color: #333;
}
