/*        .
*        '#'         .  .
*      ___:____     | \/ |
*    ,´        `.    \  /
*    |  0        \___/  |
*  ~^~^~^~^~^~^~^~^~^~^~^~^~
*/

.pf-navigation {
    z-index: 222;
	position: fixed;
    height: 120px;
    width: 100%;
	min-width: 500px;
    background: #427b5f;
}

.pf-navigation .button {
	height: 72px;
	width: 72px;
    margin: 24px;
    background: white;
    cursor: pointer;
}